<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Page Index</title>
  <div th:replace="fragments/header :: header-css (title='Fiche de Suivi')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main>
  <div class="container">
    <div class="py-4 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
           height="57">
      <h2>Suivi des cours</h2>
      <p class="lead">Fiche de suivi du déroulement des cours</p>
    </div>

    <div class="row g-6">
      <h4 class="mb-4">Fiche de suivi</h4>
      <form class="needs-validation" novalidate="">
        <div class="row g-4">
          <div class="col-sm-6">
            <label for="dateSeance" class="form-label">Date de la séance</label>
            <input type="date" class="form-control" id="dateSeance" placeholder="Date de la séance" value="" required>
            <div class="invalid-feedback">
              Date valide est demandé.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="dureeSeance" class="form-label">Durée de la séance</label>
            <input type="number" class="form-control" id="dureeSeance" placeholder="Combien d'heure de cours" value="" required>
            <div class="invalid-feedback">
              Heure de séance valide est demandé.
            </div>
          </div>

          <div class="col-md-5">
            <label for="formation" class="form-label">Formation</label>
            <select class="form-select" id="formation" required=>
              <option class="disable" disabled>Choisissez</option>
              <option value="CDA">Concepteur Développeur d'Applications</option>
              <option value="DWWM">Développeur Web & Web Mobile</option>
              <option value="TSSR">Technicien Supérieur Système & Réseaux</option>
              <option value="TAI">Technicien d’Assistance en Informatique</option>
              <option value="AQDMI">Découverte des métiers de l’Informatique</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <div class="col-12">
            <label for="contenuePedagogique" class="form-label">Contenus pédagogique de la séance</label>
            <input type="text" class="form-control" id="contenuePedagogique" placeholder="Base de l'informatique, Bureautique, Développement Web, Communication écrite et orale..." required>
            <div class="invalid-feedback">
              Veuillez entrer un contenue pédagogique valide.
            </div>
          </div>

          <div class="col-12">
            <label for="support" class="form-label">Support<span
                    class="text-muted"> (Optional)</span></label>
            <input type="text" class="form-control" id="support" placeholder="Support utilisé">
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="col-12">
            <label for="deroulement" class="form-label">Deroulement</label>
            <textarea class="form-control" id="deroulement" placeholder="Déroulement du cours et éléments abordés" rows="4" required></textarea>
          </div>
        </div>

        <hr class="my-4">
        <div class="text-center">
          <button class="w-50 btn btn-primary btn-lg" type="submit">Envoyer le formulaire</button>
        </div>
      </form>
    </div>
  </div>
</main>

<!-- /.container -->
<div th:replace="fragments/footer:: footer"/>
</body>
</html>>