<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Index</title>
    <div th:replace="fragments/header :: header-css (title='Index')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main>
    <div class="container">
        <div class="py-4 text-center">
            <h2>Modification d'une Activité</h2>
        </div>

        <div class="row g-6">
            <h2 class="mb-4">Activité</h2>
            <h4 th:text="'Id: '+${id}"></h4>
            <form name="centre" class="needs-validation" novalidate="" method="post" action="*"
                  th:action="@{'/formulaire/activite/save'}"
                  th:object="${activiteForm}">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <input name="id" type="hidden" th:value="${id}">
                        <label for="activitesTypes" class="form-label">Nom de l'activité</label>
                        <input th:field="*{activitesTypes}" name="activitesTypes" type="text" class="form-control" id="activitesTypes" placeholder="Veuillez saisir un nom d'une activité" value=""  required>
                        <div class="invalid-feedback">
                            Nom de REAC valide est demandé.
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label for="numAT" class="form-label">Numéro de l'activité</label>
                        <input th:field="*{numAT}" name="numAT" type="text" class="form-control" id="numAT" placeholder="Veuillez saisir un numéro de l'activité" value="" required>
                        <div class="invalid-feedback">
                            Lien du référentiel valide est demandé.
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="reac" class="form-label">Référentiel</label>
                        <select th:field="*{reac}" class="form-select" id="reac" required=>
                            <option selected class="disable" value="" disabled>Choisissez le référentiel</option>
                            <option th:each="unReac:${reacs}"
                                    th:text="${unReac.nom}"
                                    th:value="${unReac.id}">Liste des REAC</option>
                        </select>
                    </div>
                </div>

                <hr class="my-4">
                <div class="text-center">
                    <button class="w-50 btn btn-primary btn-lg" type="submit">Envoyer le formulaire</button>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<div th:replace="fragments/footer:: footer"/>
</body>
</html>