<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Index</title>
    <div th:replace="fragments/header :: header-css (title='Index')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main>
    <div class="container">
        <div class="py-4 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
                 height="57">
            <h2>Création d'une Formation</h2>
            <p class="lead">Formulaire de création d'une formation</p>
        </div>

        <div class="row g-6">
            <h4 class="mb-4">Formation</h4>
            <h2 th:text="'Id: '+${id}"></h2>
            <form name="centre" class="needs-validation" novalidate="" method="post" action="*"
                  th:action="@{'/formulaire/formation/add'}"
                  th:object="${formation}">
                <div class="row g-4">
                    <input name="id" type="hidden" th:value="${id}">
                    <div class="col-sm-5">
                        <label for="nomFormation" class="form-label">Nom de la Formation</label>
                        <input th:field="*{typeFormation}" type="text" class="form-control" id="nomFormation" placeholder="Nom de la formation demandé" required>
                        <div class="invalid-feedback">
                            Formation valide est demandé.
                        </div>
                    </div>
                </div>

                <hr class="my-4">
                <div class="text-center">
                    <button class="w-50 btn btn-primary btn-lg" type="submit">Envoyer le formulaire</button>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<div th:replace="fragments/footer:: footer"/>
</body>
</html>