<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Index</title>
    <div th:replace="fragments/header :: header-css (title='Index')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main>
    <div class="container">
        <div class="py-4 text-center">
            <h2>Modification d'une Session</h2>

        </div>

        <div class="row g-6">
            <h2 class="mb-4">Session</h2>
            <h4 th:text="'Id: '+${id}"></h4>
            <form class="needs-validation" novalidate="" method="post" action="*"
                  th:action="@{'/formulaire/session/save'}"
                  th:object="${sessionForm}">
                <div class="row g-4">
                    <div class="col-sm-6">
                        <input name="id" type="hidden" th:value="${id}">
                        <label for="debutSession" class="form-label">Début de la session</label>
                        <input type="date" class="form-control" id="debutSession"
                               placeholder="Date du début de la session" value="" required>
                        <div class="invalid-feedback">
                            Date de début valide est demandé.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="finSession" class="form-label">Fin de la session</label>
                        <input type="date" class="form-control" id="finSession"
                               placeholder="Date de la fin de la session" value="" required>
                        <div class="invalid-feedback">
                            Date de fin valide est demandé.
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="formation" class="form-label">Formation de la session</label>
                        <select class="form-select" id="formation" required=>
                            <option selected class="disable" disabled>Choisissez la formation</option>
                            <option th:each="sessionGRETA:${sessionsGRETA}"
                                    th:text="${sessionGRETA.formation.typeFormation}">Formation
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Formation invalide.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="formation" class="form-label">Centre de la session</label>
                        <select class="form-select" id="centre" required=>
                            <option selected class="disable" disabled>Choisissez le centre</option>
                            <option th:each="sessionGRETA:${sessionsGRETA}" th:text="${sessionGRETA.centre.nomCentre}">
                                Centre
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Centre invalide.
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="text-center">
                        <button class="w-50 btn btn-primary btn-lg" type="submit">Envoyer le formulaire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<div th:replace="fragments/footer:: footer"/>
</body>
</html>