<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="header-css">
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
        <title th:text="${title ?: 'GRETA'}"></title>
    </th:block>
</head>
<body>
<div th:fragment="header-nav">
    <header>
        <!-- Bootstrap Navbar  -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" th:href="@{'/home'}">GRETA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#" th:href="@{'/home'}">Accueil</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown"
                               aria-expanded="false">Liste</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown02">
                                <li><a class="dropdown-item" href="#" th:href="@{'/dashboard/centres'}">Liste des Centres</a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{'/dashboard/fiches'}">Liste des Fiches</a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{'/dashboard/formateurs'}">Liste des Formateurs</a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{'/dashboard/sessions'}">Liste des Sessions</a></li>
                                <li><a disabled class="dropdown-item" href="#" th:href="@{'/dashboard/referenciels'}">Liste des Referenciel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                               aria-expanded="false">Formulaire</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" href="#" th:href="@{'/formulaire/centre'}">Formulaire d'un Centre</a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{'/formulaire/fiche'}">Formulaire d'une Fiche</a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{'/formulaire/formateur'}">Formulaire d'un Formateur</a></li>
                                <li><a class="dropdown-item" href="#" th:href="@{'/formulaire/session'}">Formulaire d'une' Session</a></li>
                                <li><a disabled class="dropdown-item" href="#" th:href="@{'/formulaire/referenciel'}">Formulaire d'un Referenciel</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="btn btn-success" href="#">Log out</a>
                </div>
            </div>
        </nav>
    </header>
</div>
</body>
</html>