<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Index</title>
    <div th:replace="fragments/header :: header-css (title='Index')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main>
    <div class="container">
        <div class="py-4 text-center">

            <form>
                <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 m-4 fw-normal">Connectez-vous</h1>

                <div class="form-floating m-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating m-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating m-4">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected class="disable" disabled>Selectionez votre rôle</option>
                        <option value="Formateur">Formateur</option>
                        <option value="Coordinateur">Coordinateur</option>
                    </select>
                    <label for="floatingSelect">Formateur ou Coordinateur</label>
                </div>

                <div class="checkbox m-4">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-50 btn btn-lg btn-primary" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<div th:replace="fragments/footer:: footer"/>
</body>
</html>