<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css (title='Index')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Application de gestion du GRETA</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4" th:text="Bonjour "></p>

        </div>
    </div>
</main>
<!-- /.container -->
<div th:replace="fragments/footer:: footer"/>
</body>
</html>